__pycache__/
*.pyc
.venv/
.env

# Node.js
node_modules/

# MacOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

data/bronze/*
!data/bronze/.gitkeep

data/silver/*
!data/silver/.gitkeep

data/gold/*
!data/gold/.gitkeep